        <div class="container">
            <div class="container">
                <div class="col-sm-3 col-md-3 col-lg-3 instructions">
                    <div class="text-capitalize">
                         <h2>instructions</h2>

                        Step 1 :
                        <ul><li>Do this. </li></ul>

                        Step 2 :
                        <ul><li>Then this.</li></ul>

                        Step 3 :
                        <ul><li>Finally this.</li></ul>
                    </div>    
                </div>
            </div>    
            <div class="container">
                <div class="col-sm-8 col-md-8 col-lg-8 learning-environment">
                     <h2>Lesson 1: Trail</h2>
                     Insert the formula into the input field below. e.g. <font color="red">=A1+A2</font>.
                     <br>
                     Parse the formula by pressing the <button type="button" disabled>Parse</button> button below when ready.
                     <br>
                     <br>
                     <input type="text"/><input type="submit" value="Parse">
                     <br><br>
                     <table>
                        <tr>
                            <th></th>
                            <th>A</th>
                            <th>B</th>
                            <th>C</th>
                            <th>D</th>
                            <th>E</th>
                            <th>F</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><table><tr><td>  1  </td></tr></table></td>
                            <td><table><tr><td>  2  </td></tr></table></td>
                            <td><table><tr><td>  3  </td></tr></table></td>
                            <td><table><tr><td>  4  </td></tr></table></td>
                            <td><table><tr><td>  5  </td></tr></table></td>
                            <td><table><tr><td>  6  </td></tr></table></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><table><tr><td>  -10  </td></tr></table></td>
                            <td><table><tr><td>  2  </td></tr></table></td>
                            <td><table><tr><td>  30  </td></tr></table></td>
                            <td><table><tr><td>  -423  </td></tr></table></td>
                            <td><table><tr><td>  -500  </td></tr></table></td>
                            <td><table><tr><td>  201  </td></tr></table></td>
                        </tr>   
                        <tr>
                            <td>3</td>
                            <td><table><tr><td>  -1  </td></tr></table></td>
                            <td><table><tr><td>  -40  </td></tr></table></td>
                            <td><table><tr><td>  201  </td></tr></table></td>
                            <td><table><tr><td>  23  </td></tr></table></td>
                            <td><table><tr><td>  90  </td></tr></table></td>
                            <td><table><tr><td>  200  </td></tr></table></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><table><tr><td>  200  </td></tr></table></td>
                            <td><table><tr><td>  60  </td></tr></table></td>
                            <td><table><tr><td>  -101  </td></tr></table></td>
                            <td><table><tr><td>  -55  </td></tr></table></td>
                            <td><table><tr><td>  20  </td></tr></table></td>
                            <td><table><tr><td>  20  </td></tr></table></td>
                        </tr>  
                        <tr>
                            <td>5</td>
                            <td><table><tr><td>  -10  </td></tr></table></td>
                            <td><table><tr><td>  1  </td></tr></table></td>
                            <td><table><tr><td>  -623  </td></tr></table></td>
                            <td><table><tr><td>  43  </td></tr></table></td>
                            <td><table><tr><td>  0  </td></tr></table></td>
                            <td><table><tr><td>  -20  </td></tr></table></td>
                        </tr>  
                     </table>

                </div>
            </div>
        </div>