
      <h1>Task Queue</h1>
      <table class="table table-striped">
        <tr>
          <th>Id</th>
          <th>Service</th>
          <th>State</th>
          <th>Progress</th>
          <th>State Changed</th>
        </tr>
        <tr ng-repeat="item in updateTasks">
          <td>
            {{item.id}}
          </td>
          <td>
            {{item.service}}
          </td>
          <td>
            {{item._state}}
          </td>
          <td>
            {{item._progress}}
          </td>
          <td>
            {{item._state_changed}}
          </td>
          <td>
            {{getTime()}}
          </td>
        </tr>
        <table>

          <h1>Task Logs</h1>
          <table class="table table-striped">
            <tr>
              <th>User</th>
              <th>Service</th>
              <th>Service ID</th>
              <th>Achievements</th>
              <th>Minutes Ago</th>
            </tr>
            <tr ng-repeat="item in filteredLogs | orderBy:'-updated'" ">
          <td>
            {{$index+1}}.
          </td>
          <td>
              {{item.service}} 
          </td>
          <td>
            {{item.id}}
          </td>
          <td>
              {{item.count}} 
          </td>
          <td>{{ timePassed(item.updated) |number:2 }}
            </td>
        </tr>
      <table>