<!-- Content -->
<div class="container" >

	<header class="welcome">
		<h1><font size="9">Welcome!</font></h1>
		<p>Hello {{displayName}}</p>
	</header>
	<hr>
	<!-- Current Courses Header-->
	<div class="row">
		<div class="col-lg-12">
			<h3>Your courses</h3>
		</div>
	</div>
	
	<!-- Current Courses -->
	<div class="row container-white">
		<div class="course-name">
			<label ng-repeat="course in courseMap">{{course.moduleTitle}}<br/>
				<ul>
					<li ng-repeat="qns in course.qnsTitles">
						<a ng-href="#/{{qns.qnsType}}/{{course.moduleID}}/{{qns.qnsId}}">{{qns.qnsTitle}}<br/></a>
					</li>
				</ul>
			</label>
		</div>
	</div>
	
	<hr>
	<!-- More Courses Header -->
	
</div>



