<div class="container">   
	<div class="container-white" >	
		<br>
		<H2>{{qnsTitle}}</H2>
		{{qnsDescription}}
		<br><br>
		<div ng-show="qnsInstruction">
			<H3>Instructions</H3>
			{{qnsInstruction}}
			<br>
			<br>
		</div>
			<div ng-show='incorrect'>
				<h4> {{validation}} </h4>
				<h4> Hint:{{hint}} </h4>
				<h4 style="color: red"> INCORRECT </h4>
			</div>	
			 <input type="text" ng-model="answer" name="answer" style="width:90%;"/><br><br>

			 <input type="submit" value="Submit" ng-click="submit()">
			<div ng-show='correct'>
				<h3> 
					Well done!!! You got the answer correct. Click next to challenge yourself for another questions! 
					<input type="submit" value="Next Qns" ng-click="next()"> 
				</h3>
			</div>
			 
	</div>
</div>