<style>
	html{
		height:100%;
	}
	body{
		height:100%;
	}
	div.course{
		width: 100%;
		background-color: #ffffff;
	}

	.mainHeader{
		font-family: "Karla", sans-serif !important;
		font-size: 300%;
	}

	.push-down{
		margin-top: 80px;
	}

	.login{
		border-radius: 25px;
		background: #CC6666;
		padding: 70px 25px;
	}


</style>


<div class="col-md-12" style="margin: 0px; padding: 0px; height:100%">
	<div class="mcq" style="height:100%">
		<div class="col-md-12 course" style="margin: 0px; padding: 0px; border-bottom: solid; border-bottom-color: #c3c3c3;">
			<H2 style="padding-left: 30px">{{qnsTitle}}</H2>
		</div>
		<div class="col-md-3" style="height:calc(100% - 63px); background-color: white; padding: 20px 10px">
			<h2>Instructions:</h2>
			<h3>Create your own google sheet with the properties as stated in the question.</h3>
			<br/>
			<h3>Unable to get the right answer?</h3>
			<p><strong>You may want to do these steps:</strong></p>
			<p style="padding-left: 10px">1) Ensure google sheet is made public</p>
			<p style="padding-left: 10px">2) Watch the videos or read the slides again.</p>
			<p style="padding-left: 10px">3) Ask a friend on the gitter channel.</p>
			<p style="padding-left: 10px">4) Email a professor at <a href="mailto:cboesch@smu.edu.sg?Subject=Hello%20again" style="font-size:1em">cbosch@smu.edu.sg</a></p>
		</div>
		<div class="col-md-9" style="padding: 20px 30px">
			<div class="col-md-6">
				<div ng-show="qnsInstruction">
					<H2>Question:</H2>
					<br/>
					<h4>{{qnsInstruction}}</h4>
					<br>
				</div>
				<input type="text" ng-model="answer" name="answer" style="width:90%;"/><br><br>
				<input type="submit" value="Submit" ng-click="submit()">
			</div>
			

			<div class="col-md-4 push-down">
				<div ng-show='incorrect' class="col-md-12" style="box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3); padding: 0px">
					<div class="col-md-12 text-center" style="background-color: red; padding:2px; margin: 0; border: 1px">
						<h3 style="color: white; margin: 0px"> INCORRECT </h3>
					</div>
					<div class="col-md-12 text-center" style="padding:0; margin: 0">
						<h4> {{hint}} </h4>
					</div>
					
				</div>

				 
				 <div ng-show='correct' class="col-md-12" style="box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3); padding: 0px">
				 	<div class="col-md-12 text-center" style="background-color: green; padding: 2px; margin: 0; border: 1px">
						<h3 style="color: white; margin: 0px"> CORRECT </h3>
					</div>
					<div class="col-md-12 text-center" style="padding:0; margin: 0">
						<h4> 
							Well done!!! You got the answer correct. Click next to challenge yourself for another questions! 
							<input type="submit" class="btn-primary" value="Next Qns" ng-click="next()"> 
						</h4>
					</div>
					
				</div>
			</div>	
		</div>	
	 </div>   
</div>
