<meta name="viewport" content="width=device-width">
  <div layout="row" flex layout-align="center">
    <div class="md-whiteframe-z2" layout="column" flex="70" flex-xs="100">
      <div style="padding: 0px 20px">
        <h2 class="pull-left">{{qnsTitle}}</h2>
      </div>
      <md-divider></md-divider>
      <div style="padding: 10px 50px">
        <div ng-if="qnsInstruction">
          <p><strong>Instruction</strong> : {{qnsInstruction}}</p>
        </div>
        <iframe ng-src="{{srclink}}" width="100%" height="200%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        <div ng-if="qnsDescription">
          <p>{{qnsDescription}}</p>
        </div>
        <div style="padding: 20px 0px"layout="row">
          <center flex="80"></center>
          <md-button flex="20" class="md-raised md-primary pull-right" ng-click="submit()">Complete</md-button>
        </div>
      </div>
    </div>
  </div>
</meta>
