<meta name="viewport" content="width=device-width">
  <div layout="row" flex layout-align="center">
    <div class="md-whiteframe-z2" layout="column" flex="70" flex-xs="100">
      <div style="padding: 0px 20px">
        <h2 class="pull-left">{{qnsTitle}}</h2>
        <h2 class="pull-right">({{currentMCQ}}/{{totalMCQ}})</h2>
      </div>
      <md-divider></md-divider>
      <div>
      <!-- <div style="padding: 10px 100px">-->
        <p><strong>Q{{currentMCQ}}.</strong> {{mcq.qns}}</p>
        <div layout="row" style="margin-top:30px">

          <md-radio-group ng-model="mcq.qnsID" style="border: none;">
            <md-radio-button ng-repeat="option in mcq.options" value="{{option}}">{{option}}</md-radio-button>
          </md-radio-group>
        </div>
        <br>
        <div style="padding: 20px 0px"layout="row">
          <div flex="20"></div>
          <md-button style="width:50%" class="md-raised md-primary" ng-show="currentMCQ != totalMCQ" ng-click="changeMCQ(1)">next</md-button>
          <md-button style="width:50%" class="md-raised md-primary" ng-show="currentMCQ == totalMCQ" ng-click="changeMCQ(1)">complete</md-button>
        </div>
      </div>
    </div>
  </div>
</meta>
