<!--left bar-->
<div layout="row" flex>
  <div flex="15"></div>
  <div class="md-whiteframe-z2" layout="column" flex="70">
    <div style="padding: 0px 20px">
      <h2 class="pull-left">{{qnsTitle}}</h2>
      <h3 class="pull-right">score: ({{currentScore}}/{{totalScore}})</h3>
    </div>
    <md-divider></md-divider>
    <div style="padding: 0px 20px">
      <div ng-repeat="mcq in questions" ng-init="qnsID = $index">
          <p>
            <span ng-if="checked">
              <i class="fa fa-check" style="color: green"></i>
              <i class="fa fa-times" style="color: red"></i></span>
            <strong>Q{{qnsID + 1}}.</strong> {{mcq.qns}}</p>
            
            <div ng-repeat="option in mcq.options">

                <input type="radio" ng-model="$parent.qnsID" name="{{qnsID}}" ng-value="option" > {{option}}<br/>

            </div>


          <br>
      </div>
    </div>

    <div style="padding: 0 100px"layout="row">
      <center flex="80"></center>
      <md-button flex="20" class="md-raised" ng-click="submit()">Submit</md-button>
    </div>

  </div>
</div>