<div class="container-fixed" >
	<div class="mcq">
		<br>
		<H2>{{qnsTitle}}</H2>
		{{qnsDescription}}
		<br><br>
		<div ng-show="qnsInstruction">
			<H3>Instructions</H3>
			{{qnsInstruction}}
			<br>
			<br>
		</div>
		<form ng-submit="submit()">
			<label ng-repeat="option in options">
				<input type="radio" ng-model="$parent.answer" name="radio" ng-value="option" ><label for="radio1"><span><span></span></span>{{option}}</label>
				<br/>
			</label>
			<br><br>
			
			<div ng-show='incorrect'>
				<h4> {{hint}} </h4>
				<h4 style="color: red"> INCORRECT </h4>
			</div>

			 <input type="submit" value="Submit">
			 <div ng-show='correct'>
				<h3> 
					Well done!!! You got the answer correct. Click next to challenge yourself for another questions! 
					<input type="submit" value="Next Qns" ng-click="next()"> 
				</h3>
			</div>
			 <br><br>
		 <form/>
		<br><br>
	 </div>   
</div>
