<!--left bar-->
<div layout="row" flex>
  <div flex="15"></div>
  <div class="md-whiteframe-z2" layout="column" flex="70">
    <div style="padding: 0px 20px">
      <h2 class="pull-left">{{qnsTitle}}</h2>
    </div>
    <md-divider></md-divider>
    <div style="padding: 10px 100px">
      <img height="315" width="100%" ng-src="{{srclink}}"></img>
      <md-content style="max-height: 100px">
        <p>{{explanation}}</p>
        </md-content>
      <div style="padding: 20px 0px"layout="row">
        <md-button flex="20" class="md-raised md-primary pull-left" ng-show="currentSlide != 1" ng-click="changeSlide(-1)">prev</md-button>
        <center flex="60">({{currentSlide}}/{{totalSlide}})</center>
        <md-button flex="20" class="md-raised md-primary pull-right" ng-show="currentSlide != totalSlide" ng-click="changeSlide(1)">next</md-button>
        <md-button flex="20" class="md-raised md-primary pull-right" ng-show="currentSlide == totalSlide" ng-click="submit()">complete</md-button>
      </div>
    </div>


  </div>
</div>