<style>
	html{
		height:100%;
	}
	body{
		height:100%;
	}
	div.course{
		width: 100%;
		background-color: #ffffff;
	}

	.mainHeader{
		font-family: "Karla", sans-serif !important;
		font-size: 300%;
	}

	.push-down{
		margin-top: 30px;
	}

	.login{
		border-radius: 25px;
		background: #CC6666;
		padding: 70px 25px;
	}


</style>


<div class="col-md-12" style="margin: 0px; padding: 0px; height:100%">
	<div class="mcq" style="height:100%">
		<div class="col-md-12 course" style="margin: 0px; padding: 0px; border-bottom: solid; border-bottom-color: #c3c3c3;">
			<H2 style="padding-left: 30px">{{qnsTitle}}</H2>
		</div>
		<div class="col-md-3" style="height:calc(100% - 63px); background-color: white; padding: 20px 10px">
			<h2>Instructions:</h2>
			<h3>Please answer the questions on the right.</h3>
			<br/>
			<h3>Unable to get the right answer?</h3>
			<p><strong>You may want to do these steps:</strong></p>
			<p style="padding-left: 10px">1) Watch the videos or read the slides again.</p>
			<p style="padding-left: 10px">2) Ask a friend on the gitter channel.</p>
			<p style="padding-left: 10px">3) Email a professor at <a href="mailto:cbosch@smu.edu.sg?Subject=Hello%20again" style="font-size:1em">cbosch@smu.edu.sg</a></p>
		</div>
		<div class="col-md-9" style="padding: 20px 30px">
			<div class="col-md-7" style="margin-bottom: 10px">
				<div ng-show="qnsInstruction">
					<H2>Question:</H2>
					<h4>{{qnsInstruction}}</h4>
					<br/>
					<input type="text" ng-model="answer" name="answer"/>
					<input type="submit" value="Submit" ng-click="submit()">
					<br/>
				</div>
			</div>
			
			<div class="col-md-4 push-down">

				<div ng-show='incorrect' class="col-md-12" style="box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3); padding: 0px">
					<div class="col-md-12 text-center" style="background-color: red; padding:2px; margin: 0; border: 1px">
						<h3 style="color: white; margin: 0px"> INCORRECT </h3>
					</div>
					<div class="col-md-12 text-center" style="padding:0; margin: 0">
						<h4> {{hint}} </h4>
					</div>
					
				</div>

				 
				 <div ng-show='correct' class="col-md-12" style="box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, .3); padding: 0px">
				 	<div class="col-md-12 text-center" style="background-color: green; padding: 2px; margin: 0; border: 1px">
						<h3 style="color: white; margin: 0px"> CORRECT </h3>
					</div>
					<div class="col-md-12 text-center" style="padding:0; margin: 0">
						<h4> 
							Well done!!! You got the answer correct. Click next to challenge yourself for another questions! 
							<input type="submit" class="btn-primary" value="Next Qns" ng-click="next()"> 
						</h4>
					</div>
					
				</div>
			</div>

			<table>
				<tr>
					<th></th>
					<th>A</th>
					<th>B</th>
					<th>C</th>
					<th>D</th>
					<th>E</th>
				</tr>
				<tr ng-repeat="row in range(rowCount)">
					<td>{{row + 1}}</td>
					<td ng-repeat="col in range(colCount)"><table><tr><td>  {{sheet[row][col]}} </td></tr></table></td>
				</tr>
			 </table>
		</div>
	 </div>   
</div>
