
<md-toolbar ng-hide="logined">
<div class="md-toolbar-tools">
  <h2>
    <span>{{courseTitle}}</span>
  </h2>
  <span flex></span>
  <md-button style="margin-right:10px" ng-click="login()" >Sign In</md-button>
</div>
</md-toolbar>


<md-toolbar class="md-hue-1" ng-show="logined">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
      <md-icon md-svg-icon="menu.svg"></md-icon>
    </md-button>
    <h2>
      <span>{{courseTitle}}</span>
    </h2>
    <span flex></span>
    <md-button style="margin-right:10px" href="#/educator/courseMap" ng-show="isAdmin" >Educator course</md-button>
    <md-button style="margin-right:10px" href="#/course" >course</md-button>
    <!-- <md-button style="margin-right:10px">chat</md-button> -->
    <md-button style="margin-right:10px"  href="#/profile/{{profileLink}}" >[ {{ownNumAchievement}} ]</md-button>
    <md-button style="margin-right:10px" class="md-fab md-primary md-hue-2" aria-label="Profile" href="#/profile/{{profileLink}}">
      <img ng-src="{{displayPic}}" alt="Profile Photo" width="40px" height="40px">
    </md-button>
    <md-button style="margin-right:10px" ng-click="logout()">Logout</md-button>
  </div>
</md-toolbar>

