

    <div layout="column" class="relative" layout-fill role="main">

      <md-toolbar>
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <h2>
            <span>Pivotal Expert</span>
          </h2>
          <span flex></span>
          <md-button style="margin-right:10px" href="./courseMap.html" >course</md-button>
          <md-button style="margin-right:10px">chat</md-button>
          <md-button style="margin-right:10px"  href="./mcq.html" >[5]</md-button>
          <md-button style="margin-right:10px" class="md-fab md-primary md-hue-2" aria-label="Profile" href="./profile.html">
            <md-icon md-svg-src="img/icons/ic_people_24px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>

      <div layout="row" flex>
        <div flex="auto"></div>
        <div class="md-whiteframe-z1 text-center" flex="70" style=" padding: 0px 10px;height: 120px;">
              <h1>Pivotal Expert Course Map</h1>
              <md-button class="md-raised" style="margin-top: -10px;">Save all changes</md-button>
              <md-button class="md-raised" style="margin-top: -10px;">Add Chapter</md-button>
              <md-button class="md-raised" style="margin-top: -10px;" href="./add_question.html">Add Question</md-button>
        </div>
        <div flex="auto"></div>
      </div>

      <div layout="row" flex>
        <div flex="auto"></div>
        <div class="md-whiteframe-z2" layout="column" flex="70" style="margin-top: -185px;padding: 20px 20px;">
          <md-content flex md-scroll-y>
          <md-card-content>
            <div layout="row" ng-repeat="item in courseMap" flex >
              <div flex="5">
                <div layout="column"" flex>
                  <div flex="auto">
                    <md-button class="md-icon-button md-primary">
                      <i class="fa fa-angle-up"></i>
                    </md-button>
                  </div>
                  <div flex="auto">
                    <md-button class="md-icon-button md-primary">
                      <i class="fa fa-angle-down"></i>
                    </md-button>
                  </div>
                </div>
              </div>
              <div flex="auto">
                <div layout="row">
                  <div flex="auto"><h2>{{item.chapterTitle}}</h2></div>
                  <div flex="10" layout="column">
                      <div><br></div>
                      <div layout="row">
                        <md-button class="md-icon-button"><i class="fa fa-upload fa-lg" aria-hidden="true"></i></md-button>
                        <md-button class="md-icon-button"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></md-button>
                      </div>
                      <div><br></div>
                  </div>
                </div>
            <md-list>
              <md-item ng-repeat="question in item.qns | filter:search">
                <div layout="row" flex>
                  <div flex="5">
                    <div layout="column"" flex>
                      <div flex="auto">
                        <md-button class="md-icon-button md-primary">
                          <i class="fa fa-angle-up"></i>
                        </md-button>
                      </div>
                      <div flex="auto">
                        <md-button class="md-icon-button md-primary">
                          <i class="fa fa-angle-down"></i>
                        </md-button>
                      </div>
                    </div>
                  </div>
                  <div flex="auto">
                <md-item-content>
                  <div class="md-tile-content">
                    <font class="font-size-course-title">{{question.qnsTitle}}</font>
                  </div>
                  <div class="md-tile-right inset" hide-sm>
                    <md-button class="md-icon-button" ng-click="editQuestion(question.qnsId,item.cid)">
                      <i class="fa fa-pencil fa-lg"></i>
                    </md-button>
                    <md-button class="md-icon-button">
                      <i class="fa fa-times fa-lg"></i>
                    </md-button>
                  </div>
                  </md-item-content>
                  <md-divider ng-if="!$last"></md-divider>
              </md-item>
              <md-divider></md-divider>
            </div>
            </div>
            </md-list>
            </div>
            </div>

            <md-divider></md-divider>
            <md-divider></md-divider>

            <div layout="row"" flex>
              <div flex="5">
                <div layout="column"" flex>
                  <div flex="auto">
                    <md-button class="md-icon-button md-primary">
                      <i class="fa fa-angle-up"></i>
                    </md-button>
                  </div>
                  <div flex="auto">
                    <md-button class="md-icon-button md-primary">
                      <i class="fa fa-angle-down"></i>
                    </md-button>
                  </div>
                </div>
              </div>
              <div flex="auto">
                <h2>Chapter 2: Google Sheets</h2>
                <md-list>
                  <md-item ng-repeat="item in courseMaterial | filter:search">
                    <div layout="row" flex>
                      <div flex="5">
                        <div layout="column"" flex>
                          <div flex="auto">
                            <md-button class="md-icon-button md-primary">
                              <i class="fa fa-angle-up"></i>
                            </md-button>
                          </div>
                          <div flex="auto">
                            <md-button class="md-icon-button md-primary">
                              <i class="fa fa-angle-down"></i>
                            </md-button>
                          </div>
                        </div>
                      </div>
                      <div flex="auto">
                        <md-item-content>
                          <div class="md-tile-content">
                            <font class="font-size-course-title">{{item.title}}</font>
                            <p>
                              <font class="font-size-normal">Type: {{item.qnType}}</font>
                            </p>
                          </div>
                          <div class="md-tile-right inset" hide-sm>
                            <md-button class="md-icon-button">
                              <i class="fa fa-pencil"></i>
                            </md-button>
                          </div>
                        </md-item-content>
                        <md-divider ng-if="!$last"></md-divider>
                  </md-item>
              <md-divider></md-divider>
                  </div>
            </div>
            </md-list>
            </div>
            </div>




          </md-card-content>
        </md-card>
  </md-content>
  </div>
  <div flex="auto"></div>
  </div>
  </div>
    <!-- Angular Material Dependencies -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-aria.min.js"></script>
    <script src="js/angular-material.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>

    <script src="js/index.js"></script>


