

    <div layout="column" class="relative" layout-fill role="main">
        <script>
  $( function() {

  } );
  </script>
  <style>
    ng-messages {display: block;}
  </style>
      <div layout="row" flex>
        <div flex="auto"></div>
        <div class="md-whiteframe-z1 text-center" flex="70" style=" padding: 30px;height:auto;">
              <h1>{{book.bookTitle}} Course Map</h1>
              <md-button class="md-raised" ng-click="saveAllChanges($event)">Save all changes</md-button>
              <md-button class="md-raised" ng-click="showPrompt($event)">Add a challenge</md-button>
              <md-menu>
<!--<<<<<<< HEAD-->
                <!--<md-button class="md-raised md-primary" ng-click="courseMenu($mdOpenMenu, $event)">
                 Course Options
                </md-button>
                <md-menu-content width="4">-->
<!--=======-->
                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
                 Add Chapter/Challenge
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item>
                    <md-button ng-click="addChapter()">
                      Add a Chapter
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="showPrompt($event)">
                      Add a challenge
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
              
              <md-menu>
                <md-button class="md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)">
                 Export / Import
                </md-button>
                <md-menu-content width="4">
<!-->>>>>>> 7a736ee7d2a5b72a7dfc2f3d14a3a6eb0413a699-->
                   <md-menu-item>
                    <md-button ng-click="exportCourse($event)">
                      Export Course
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                   <md-menu-item>
                    <md-button ng-click="importCourse($event)">
                      Import Course
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>

              <md-menu>
                <md-button class="md-raised md-primary" ng-click="chapterMenu($mdOpenMenu, $event)">
                 Chapter Options
                </md-button>
                <md-menu-content width="4">
                  <md-menu-item>
                    <md-button ng-click="addChapter($event)">
                      Create a Chapter
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="showExportPrompt($event)">
                      Export a Chapter
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="showImportPrompt($event)">
                      Import a Chapter
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
        </div>
        <div flex="auto"></div>
      </div>

      <div layout="row" flex>
        <div flex="auto"></div>
        <div class="md-whiteframe-z2" layout="column" flex="70" style="margin-top: 0px;padding: 20px 20px;">
          <md-content flex md-scroll-y>
          <md-card-content >
            <div class="accordion1" style='background-color:white'>
              <div id="chapter" style="height:auto;" layout="column" ng-repeat="item in courseMap track by $index" on-finish-render="ngRepeatFinished">
                
                <!--chapterTitle div-->
                <div layout=row id="chapterHeader">
                  <h2 class='cid' cid='{{item.cid}}'>
                    {{item.chapterTitle}}
                    <md-tooltip md-delay="200">
                      Click to toggle Chapter details. Click & Drag to change chapter order.
                    </md-tooltip>
                  </h2>
                </div>
                <!--end of chapterTitle div-->
                <div layout="column" style="height:auto;">
                  <!--chapter buttons-->
                  <div layout="row">
                    <div flex="70">
                      <md-input-container class="md-block" id='text_{{$index}}'>
                        <label>Chapter Title:</label>
                        <input ng-model="item.chapterTitle">
                      </md-input-container>
                    </div>
                    <div flex style="position:relative; top:-50px">
                      <md-button ng-click="toggleChapterTextbox($index)" class="md-icon-button" aria-label="Settings" >
                        <i style="font-size:1.5em" class="fa fa-pencil" ></i>
                        <md-tooltip md-delay="200">
                          Toggle edit chapter
                        </md-tooltip>
                      </md-button>
                      <!--<md-button class="md-primary md-icon-button" >
                        <i class="fa fa-upload" aria-hidden="true" style="font-size:1.5em"></i>
                         <md-tooltip md-delay="200">
                          Export chapter
                        </md-tooltip>
                      </md-button>-->
                      <md-button class="md-warn md-icon-button" ng-click="deleteChapter($index,item.cid)">
                        <i class="fa fa-trash" aria-hidden="true" style="font-size:1.5em"></i>
                        <md-tooltip md-delay="200">
                          Delete chapter
                        </md-tooltip>
                      </md-button>
                    </div>
                  </div>
                   <!--end of chapter buttons-->
                  <md-list>
                    <div class="accordion2">
                    <div ng-repeat="question in item.qns track by $index">
                      <md-item>
                        <md-item-content>
                          <div layout="row" flex>
                            <md-button style="padding-top:15px" class="md-icon-button" ng-click="deleteQuestion($parent.$index,$index,question.qid)">
                              <i class="fa fa-times fa-lg"></i>
                              <md-tooltip md-direction="left" md-delay="200">
                                    Delete challenge
                              </md-tooltip>
                            </md-button>
                            <div flex="70" class="md-tile-content">
                              <h4 class="question" ng-model="item.qns[$index].qnsTitle" id='{{question.qid}}' qnsType="{{question.qnsType}}">{{question.qnsTitle}}</h4>
                            </div>
                            <div class="md-tile-right inset" hide-sm>
                              <md-button class="md-icon-button" ng-click="editQuestion(question.qid,item.cid)">
                                <i class="fa fa-pencil fa-lg"></i>
                                  <md-tooltip md-direction="right" md-delay="200">
                                    Edit challenge
                                  </md-tooltip>
                              </md-button>
                            </div>
                          </div>
                        </md-item-content>
                      </md-item>
                    </div>
                    </div>
                  </md-list>
                </div>
                <md-divider></md-divider>
              </div>

              <md-divider></md-divider>
            </div>
          </md-card-content>
        </md-content>
      </div>
      <div flex="auto"></div>
    </div>
