<div layout="row" flex>
  <div style="position: relative"class="md-whiteframe-z2" layout-padding flex="30">
    <!--questions and submmit-->

    <md-input-container class="md-block">
        <label>Question</label>
        <textarea ng-model="qns.qnsInstruction" rows="4" md-select-on-focus>
        </textarea>
    </md-input-container>
    
    <div style="padding: 20px">
      <md-button class="md-raised md-primary" ng-disabled="true" style="width: 100%">Submit</md-button>
    </div>
    <!--if ans is incorrect display this-->
    <div style="padding: 20px">
      <div class="md-whiteframe-z1">
        <div style="padding: 10px">
          <i style="color:red" class="fa fa-times-circle" aria-hidden="true"></i> <strong>Incorrect Submission</strong>
        </div>
        <md-divider></md-divider>
        <md-content style="padding: 0 10px; max-height: 200px">

          <md-input-container class="md-block">
            <label>Hints</label>
            <input ng-model="qns.hint">
          </md-input-container>
        </md-content>
      </div>
    </div>
    <!--help button-->
    <md-button style="position:absolute; bottom:0; right:0; margin: 10px" ng-click="showGridBottomSheet()">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      Help
    </md-button>
  </div>
  <div flex="70" layout="column">
    <div style="padding: 0 20px">
      <h2 class="pull-left">
        <md-input-container class="md-block">
          <label>Question Title</label>
          <input ng-model="qns.qnsTitle">
        </md-input-container>
      </h2>
        <div class="pull-right"style="padding:20px">
            <md-button class="md-raised " ng-click='saveExcelChanges($event)'>Save all changes</md-button>
            <md-button class="md-warn md-raised " ng-show="!isNewQuestion" ng-click='deleteQns($event,qns.cid,qns.qid)'>Delete Question</md-button>
        </div>
    </div>
    <md-divider></md-divider>
        <iframe style="height: 350px; width: 100%" src="https://docs.google.com/spreadsheets/d/15BR_mgdyQ1aYxoWzOosc2QaC6wLEdwI9LaY_BbA4rFc/pubhtml?widget=true&amp;headers=false"></iframe>
        <div style="padding: 10px 0px">
            <md-input-container class="md-block">
            <label>Cells Range</label>
            <input ng-model="qns.range">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Formula Required</label>
            <input ng-model="qns.FormulaUsed">
          </md-input-container>
           <md-input-container class="md-block">
            <label>Formula Cell</label>
            <input ng-model="qns.FormulaCell">
          </md-input-container>
          <div ng-repeat="ans in qns.answer">
              <md-input-container class="md-block">
                <label>Answer Cell's Row</label>
                <input ng-model="ans.row">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Answer Cell's Col</label>
                <input ng-model="ans.col">
              </md-input-container>
              <md-input-container class="md-block">
                <label>Answer Cell's Value  </label>
                <input ng-model="ans.value">
              </md-input-container>
          </div>
          <md-button class="md-raised" ng-click="showAll()">Show All Value</md-button>
          <md-button class="md-raised pull-right" ng-click="addCellAnswer()">Add Answer Cell</md-button>
        </div>
      </div>
    </div>
  </div>
</div>