<!DOCTYPE html>
<!--left bar-->
<div layout="row" flex>
  <div flex="15"></div>
  <div class="md-whiteframe-z2" layout="column" flex="70">
    <div style="padding: 0px 20px">
      <h2 class="pull-left">{{qns.qnsTitle}}</h2>
      <div class="pull-right"style="padding:20px">
        <md-button class="md-raised" ng-click='saveQns($event)'>Save all changes</md-button>
        <md-button class="md-warn md-raised " ng-show="!isNewQuestion" ng-click='deleteQns($event,qns.cid,qns.qid)'>Delete Question</md-button>
      </div>
    </div>
    <md-divider></md-divider>
    <div style="padding: 10px 100px">
      <div layout="column">
        <div layout="row" layout-align="center center">
          <div flex="45" style="padding:10px">
            <md-input-container class="md-block">
              <label>Question Title</label>
              <input ng-model="qns.qnsTitle">
            </md-input-container>
          </div>
        </div>
        <form>
          <div ng-repeat="slide in qns.slides">
            <md-divider></md-divider>
            <div layout="row" layout-align="center center">
              <div flex="45" style="padding:10px">
                <md-input-container class="md-block">
                  <label>Slide Image Link</label>
                  <input ng-model="slide.imageLink">
                </md-input-container>
              </div>
              <div flex="45" style="padding:10px">
                <md-input-container class="md-block">
                  <label>Explanation</label>
                  <textarea ng-model="slide.explanation" rows="1" md-select-on-focus></textarea>
                </md-input-container>
              </div>
              <div felx="10">
                <md-button class="md-icon-button" aria-label="Settings" ng-click='deleteSlide($index)'>
                  <i class="fa fa-times"></i>
                </md-button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div layout="row" layout-align="center center">
        <div style="width:50%">
          <md-button class="md-raised md-primary" ng-disabled="false" style="width: 100%" ng-click='addSlide()'>Add New Slide</md-button>
        </div>
      </div>
    </div>
  </div>
</div>
